
= render 'shared/lookup'

= content_for :sidebar do
  = render 'movie_sidebar', :watch => @watch, :movie => @movie

.movie
  %h1.title
    = @movie.title
    - unless @movie.year.blank?
      %span.year== (#{@movie.year})
    %sup= @movie.users.count
  .poster
    =image_tag @movie.poster.url(:large)
  .details


    - if @movie.director.present?
      .director
        by
        %span.name= @movie.director

    .rating
      %span.rate
        = link_to_unless @movie.imdb_page.blank?, (@movie.rating.blank? ? '-': @movie.rating), @movie.imdb_page
      %span.out_of /10

= render 'comments', :movie => @movie, :user => current_user
