
= render :partial => 'shared/lookup'

= content_for :sidebar do
  = render :partial => 'shared/friendship', :locals => { :friendship => @friendship, :owner => @owner }

%ul.by-status
  %li= link_to 'All', user_url(@owner), :class => params[:status].blank? ? 'active' : ''
  %li= link_to 'Wishlist', user_status_url(@owner, 'wish'), :class => params[:status] == 'wish'  ? 'active' : ''
  %li= link_to 'Watched', user_status_url(@owner, 'watched'), :class => params[:status] == 'watched' ? 'active' : ''

- if @watches.empty?
  no movies
- else


  .watches
    - @watches.each do |watch|
      = render :partial => 'shared/watch', :locals => { :watch => watch, :owner => @owner }
