
= render :partial => 'shared/lookup' if current_user == @account

- if @watches.empty?
  no movies
- else
  .watches
    - @watches.each do |watch|
      .watch
        .thumb
          = image_tag 'icons/movie.jpg'
        %h2
          = watch.movie.title
          %sup= watch.movie.users.count
          = link_to image_tag('icons/cross-small.png'), watch_path(watch), :class => 'remove', :method => :delete, :confirm => 'Are you sure?'
        .ago
          = time_ago_in_words(watch.created_at)
          ago
