= content_for :top_content do
  - if current_user
    = form_tag '/watches', :class => 'lookup', :method => :post do
      = text_field_tag :title, '', :placeholder => 'What movie would you like to watch or already watched?'
      = submit_tag 'Add to my watch list'
    :javascript
      $(function(){
        $("#title").placeholder();
      });
  - else
    %h2.login_invitation
      Please
      = link_to 'login', '/auth/facebook'
      to start adding movies to your watch list



