= content_for :top_content do
  - if current_user
    = form_tag '/watches', :class => 'lookup', :method => :post do
      = text_field_tag :title_and_year, '', :placeholder => 'What movie would you like to watch or already watched?'
      = submit_tag 'Add to my watch list'
    :javascript
      $(function(){
        $("#title_and_year").placeholder().autocomplete({
          serviceUrl: '/autocomplete',
          minChars: 4,
          maxHeight: 'auto',
          width: 690,
          zIndex: 9999,
          deferRequestBy: 1000, //miliseconds
          //cut year on selected value or no?
          //onSelect: function(value){ $("#title").val($.trim(value).split(/\s*\([\d]{4}/, 1)); },
          noCache: true,
        });
      });
  - else
    %h2.login_invitation
      Please
      = link_to 'Sign up with Facebook', user_omniauth_authorize_path(:facebook)
      to start adding movies to your watch list



