- is_owner = current_user == owner if user_signed_in?

.movie{:id => "movie_#{movie.id}"}
  .poster
    = link_to image_tag(movie.poster.url(:small)), movie
  .details
    %h2
      = link_to movie.title, movie
      %sup= movie.users.count
    - if movie.director.present?
      .director
        %span.name= movie.director
