.watch{:id => "watch_#{watch.id}"}
  .ago
    = watch.user.name
    added
    = time_ago_in_words(watch.created_at)
    ago
  .thumb
    = link_to(image_tag(watch.movie.poster.url(:thumb)), watch.movie)
  %h2
    = link_to watch.movie.title, watch.movie
    %sup= watch.movie.users.count
  - if watch.movie.director.present?
    .director
      by
      %span.name= watch.movie.director
