!!! XML
!!!
%html{'xmlns'=>'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv'=>"Content-Type", 'content'=>"text/html; charset=utf-8"}
    %title Flickbar
    -#{AppConfig['app_name']}#{" - " + yield(:title) if content_for?(:title)}"
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults, 'jquery.placeholder'
    = csrf_meta_tag

  %body.bp
    #container
      #wrapper
        #header
          #logo= link_to 'flickbar', root_path

          #user-navigation
            - if current_user
              %ul
                %li= link_to current_user.name, user_path(current_user.nickname), :class => 'user'
                -#%li= link_to 'Logout', '#'
            - else
              = link_to 'Login', '/auth/facebook'

        #content
          = flash_messages
          = yield


        #wrapper-footer

      #footer
        copyright message &copy 2011
        = link_to 'Upscript', 'http://upscript.com'