!!! XML
!!!
%html{'xmlns'=>'http://www.w3.org/1999/xhtml'}
  = render :partial => 'layouts/head'
  %body.bp
    #container
      #wrapper
        = render :partial => 'layouts/header'

        #top-content
          = yield :top_content
          
        #content.homepage
          = flash_messages
          = yield

        #wrapper-footer

      = render :partial => 'layouts/footer'